In [1]:
# dependencies
import pandas as pd

In [2]:
csv_file="Avocado.csv"
avocado=pd.read_csv(csv_file)
avocado=avocado.drop(columns=["Unnamed: 0"])
avocado.head()

,Date,AveragePrice,TotalVolume,Type4046,Type4225,Type4770,TotalBags,SmallBags,LargeBags,XlargeBags,type,year,region
0,12/27/15,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,12/20/15,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,12/13/15,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,12/6/15,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,11/29/15,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [3]:
file1="ACS_dataset_2015/ACS_15_1YR_B02001_with_ann.csv"
file2="ACS_dataset_2016/ACS_16_1YR_B02001_with_ann.csv"
file3="ACS_dataset_2017/ACS_17_1YR_B02001_with_ann.csv"

race2015=pd.read_csv(file1)
race2016=pd.read_csv(file2)
race2017=pd.read_csv(file3)

race2015=race2015.drop([0])
race2016=race2016.drop([0])
race2017=race2017.drop([0])

In [4]:
race2015["YEAR"]=2015
race2016["YEAR"]=2016
race2017["YEAR"]=2017

In [5]:
race_combined=pd.concat([race2015,race2016,race2017],ignore_index=True)

In [6]:
race_combined=race_combined[["GEO.id2","GEO.display-label","HD01_VD01","HD01_VD02","HD01_VD03","HD01_VD04","HD01_VD05",\
                            "HD01_VD06","HD01_VD07","HD01_VD08","HD01_VD09","HD01_VD10","YEAR"]]

In [7]:
race_combined=race_combined.rename(columns={"GEO.id2":"GeoID","GEO.display-label":"Geography","HD01_VD01":"Total","HD01_VD02":"White","HD01_VD03":"Black or African American",\
                              "HD01_VD04":"American Indian and Alaska Native","HD01_VD05":"Asian","HD01_VD06":"Native Hawaiian and Other Pacific Islander",\
                              "HD01_VD07":"Some other race","HD01_VD08":"Two or more races","HD01_VD09":"Two races including Some other race","HD01_VD10":"Two races excluding Some other race, and three or more races"})

In [8]:
# race_combined=race_combined.rename(columns={"Black or African American":"BlackorAfricanAmerican",
#                               "American Indian and Alaska Native":"AmericanIndianandAlaskaNative",
#                              "Native Hawaiian and Other Pacific Islander":"NativeHawaiianandOtherPacificIslander",
#                              "Some other race":"Someotherrace","Two or more races":"Twoormoreraces",
#                              "Two races including Some other race":"TworacesincludingSomeotherrace",
#                              "Two races excluding Some other race, and three or more races":"TworacesexcludingSomeotherraceandthreeormoreraces"})

# combine age datasets

In [9]:
filea="ACS_dataset_2015/ACS_15_1YR_S0101_with_ann.csv"
fileb="ACS_dataset_2016/ACS_16_1YR_S0101_with_ann.csv"
filec="ACS_dataset_2017/ACS_17_1YR_S0101_with_ann.csv"

age2015=pd.read_csv(filea)
age2016=pd.read_csv(fileb)
age2017=pd.read_csv(filec)

age2015["YEAR"]=2015
age2016["YEAR"]=2016
age2017["YEAR"]=2017

age2015=age2015.drop([0])
age2016=age2016.drop([0])
age2017=age2017.drop([0])

In [10]:
age_combined=pd.concat([age2015,age2016],ignore_index=True)

In [11]:
age_combined=age_combined[["GEO.id2","GEO.display-label","HC01_EST_VC01","HC01_EST_VC03","HC01_EST_VC04","HC01_EST_VC05",\
                          "HC01_EST_VC06","HC01_EST_VC07","HC01_EST_VC08","HC01_EST_VC09","HC01_EST_VC10","HC01_EST_VC11",\
                          "HC01_EST_VC12","HC01_EST_VC13","HC01_EST_VC14","HC01_EST_VC15","HC01_EST_VC16","HC01_EST_VC17",\
                          "HC01_EST_VC18","HC01_EST_VC19","HC01_EST_VC20","YEAR"]]

In [12]:
age_combined=age_combined.rename(columns={"GEO.id2":"GeoID","GEO.display-label":"Geography","HC01_EST_VC01":"Total",\
                                          "HC01_EST_VC03":"<5 years","HC01_EST_VC04":"5-9 years","HC01_EST_VC05":"10-14 years",\
                                          "HC01_EST_VC06":"15-19 years","HC01_EST_VC07":"20-24 years","HC01_EST_VC08":"25-29 years",\
                                          "HC01_EST_VC09":"30-34 years","HC01_EST_VC10":"35-39 years","HC01_EST_VC11":"40-44 years",\
                                          "HC01_EST_VC12":"45-49 years","HC01_EST_VC13":"50-54 years","HC01_EST_VC14":"55-59 years",\
                                          "HC01_EST_VC15":"60-64 years","HC01_EST_VC16":"65-69 years","HC01_EST_VC17":"70-74 years",\
                                          "HC01_EST_VC18":"75-79 years","HC01_EST_VC19":"80-84 years","HC01_EST_VC20":">85 years"})

In [13]:
age2017=age2017[["GEO.id2","GEO.display-label","HC01_EST_VC01","HC02_EST_VC03","HC02_EST_VC04","HC02_EST_VC05","HC02_EST_VC06",\
"HC02_EST_VC07","HC02_EST_VC08","HC02_EST_VC09","HC02_EST_VC10","HC02_EST_VC11","HC02_EST_VC12","HC02_EST_VC13","HC02_EST_VC14",\
"HC02_EST_VC15","HC02_EST_VC16","HC02_EST_VC17","HC02_EST_VC18","HC02_EST_VC19","HC02_EST_VC20","YEAR"]]

In [14]:
age2017=age2017.rename(columns={"GEO.id2":"GeoID","GEO.display-label":"Geography","HC01_EST_VC01":"Total",\
                                "HC02_EST_VC03":"<5 years","HC02_EST_VC04":"5-9 years","HC02_EST_VC05":"10-14 years",\
                                "HC02_EST_VC06":"15-19 years","HC02_EST_VC07":"20-24 years","HC02_EST_VC08":"25-29 years",\
                                "HC02_EST_VC09":"30-34 years","HC02_EST_VC10":"35-39 years","HC02_EST_VC11":"40-44 years",\
                                "HC02_EST_VC12":"45-49 years","HC02_EST_VC13":"50-54 years","HC02_EST_VC14":"55-59 years",\
                                "HC02_EST_VC15":"60-64 years","HC02_EST_VC16":"65-69 years","HC02_EST_VC17":"70-74 years",\
                                "HC02_EST_VC18":"75-79 years","HC02_EST_VC19":"80-84 years","HC02_EST_VC20":">85 years"})

In [15]:
age_combined=pd.concat([age_combined,age2017],ignore_index=True,sort=False)

# match cities from avocado data, clean census data again

In [16]:
cities=avocado["region"].unique()
cities=cities.tolist()

In [17]:
region_to_drop=['California','West','Plains','SouthCentral', 'Southeast','GreatLakes','Midsouth','Northeast','TotalUS']

In [18]:
avocado_updated = avocado[~avocado["region"].isin(region_to_drop)]

In [19]:
age_combined["region"]=age_combined["Geography"].str.split(",", n=1, expand = True)[0]
age_combined["state"]=age_combined["Geography"].str.split(",", n=1, expand = True)[1].str.split(" ", n=0, expand = True)[1]
race_combined["region"]=race_combined["Geography"].str.split(",", n=1, expand = True)[0]
race_combined["state"]=race_combined["Geography"].str.split(",", n=1, expand = True)[1].str.split(" ", n=0, expand = True)[1]

## assign state to avocado city

In [20]:
def cond(a):
    city_list=[]
    for city in cities:
        arguments=("avocado_updated" + "['" + "region" + "']"+ "==" + "'" + city + "'")
        city_list.append(arguments)
    return city_list
conditions=cond(cities)

In [21]:
import numpy as np
conditions = [avocado_updated['region']=='Albany',
 avocado_updated['region']=='Atlanta',
 avocado_updated['region']=='BaltimoreWashington',
 avocado_updated['region']=='Boise',
 avocado_updated['region']=='Boston',
 avocado_updated['region']=='BuffaloRochester',
 avocado_updated['region']=='Charlotte',
 avocado_updated['region']=='Chicago',
 avocado_updated['region']=='CincinnatiDayton',
 avocado_updated['region']=='Columbus',
 avocado_updated['region']=='DallasFtWorth',
 avocado_updated['region']=='Denver',
 avocado_updated['region']=='Detroit',
 avocado_updated['region']=='GrandRapids',
 avocado_updated['region']=='HarrisburgScranton',
 avocado_updated['region']=='HartfordSpringfield',
 avocado_updated['region']=='Houston',
 avocado_updated['region']=='Indianapolis',
 avocado_updated['region']=='Jacksonville',
 avocado_updated['region']=='LasVegas',
 avocado_updated['region']=='LosAngeles',
 avocado_updated['region']=='Louisville',
 avocado_updated['region']=='MiamiFtLauderdale',
 avocado_updated['region']=='Nashville',
 avocado_updated['region']=='NewOrleansMobile',
 avocado_updated['region']=='NewYork',
 avocado_updated['region']=='NorthernNewEngland',
 avocado_updated['region']=='Orlando',
 avocado_updated['region']=='Philadelphia',
 avocado_updated['region']=='PhoenixTucson',
 avocado_updated['region']=='Pittsburgh',
 avocado_updated['region']=='Portland',
 avocado_updated['region']=='RaleighGreensboro',
 avocado_updated['region']=='RichmondNorfolk',
 avocado_updated['region']=='Roanoke',
 avocado_updated['region']=='Sacramento',
 avocado_updated['region']=='SanDiego',
 avocado_updated['region']=='SanFrancisco',
 avocado_updated['region']=='Seattle',
 avocado_updated['region']=='SouthCarolina',
 avocado_updated['region']=='Spokane',
 avocado_updated['region']=='StLouis',
 avocado_updated['region']=='Syracuse',
 avocado_updated['region']=='Tampa',
 avocado_updated['region']=='WestTexNewMexico']

choices=["NY","GA","MD","ID","MA","NY","NC","IL","OH","OH","TX","CO","MI","MI","PA","CT","TX","IN","FL","NV","CA","KY",
        "FL","TN","LA","NY","NH-VT","FL","PA","AZ","PA","OR","NC","CA","IN","CA","CA","CA","WA","SC","WA","MO","NY","FL","NM"]

avocado_updated["state"]=np.select(conditions,choices,default="N/A")

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Load-create database/create connection/append df to tables

In [22]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [23]:
rds_connection_string = "root:Aa1992)@!#@localhost:3306/avocado_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [24]:
engine.table_names()

['age', 'avocado_sale', 'race']

In [25]:
avocado_updated.to_sql(name="avocado_sale",con=engine,if_exists="replace",index=False)

In [26]:
race_combined.to_sql(name="race",con=engine,if_exists="replace",index=False)

In [27]:
age_combined.to_sql(name="age",con=engine,if_exists="replace",index=False)

# Confirm loads & Join tables